header {
    width: 100%;
    height: 70px;
    background-color: $colorSecondary;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 200;
    border-bottom: 1px solid $colorPrimary;

    .header-menu {
        position: relative;
        text-align: right;
        padding-left: 30px;
    
        .burger {
            width: 28px;
            height: 28px;
            display: inline-block;
            border: 0;
            background: none;
            outline: 0;
            padding: 0;
            cursor: pointer;
            z-index: 10;
            
            .burger--icon {
                @include burgerIcon;
            }
        }

        .burger-check {
            display: none;
        }
          
        .burger-check:checked ~ .burger {
            .burger--icon {
                @include burgerCloseIcon;
            }
        }

        .navigation {
            overflow: hidden;
            max-width: 0;
            position: absolute;
            top: 70px;
            left: 23px;
            text-align: left;
            opacity: 0;
            transition: $navigationTransition;
        }
          
        .burger-check:checked ~ .navigation {
            max-width: 500px;
            opacity: 1;
            transition: $navigationTransition;
        }

        .menu {
            width: 250px;
            margin: 0;
            padding: 15px 20px;
            background: lightblue;
            border: 1px solid $colorSecondary;
            list-style-type: none;
        }
          
        .menu-item {
            list-style: none;
            font-size: 17px;
            padding: 5px 0;
            color: $colorPrimary;
            padding: $dimension--small 0;
            border-bottom: 1px solid #cfcece;

            &:last-child {             
                border-bottom: 0;
            }
        }
        
        .nav-button {
            display: inline-block;
            color: $colorPrimary;
            text-decoration: none;
        }
    }
    
    // for touch devices
    @media (hover:none) {
        .burger.openMode {
            .burger--icon {
                @include burgerOpenModeAnimation;
            }
        }
        .burger-check:checked ~ .burger.closeMode {
            .burger--icon {
                @include burgerCloseModeAnimation;
            }
        }
    }
    
    // for non-touch devices
    @media (hover:hover) { 
        .burger {
            &:not(.openMode):hover {
                .burger--icon {
                    @include burgerOpenModeAnimation;
                }    
            }
        }
        .burger-check:checked ~ .burger {
            &:not(.closeMode):hover {
                .burger--icon {
                    @include burgerCloseModeAnimation;
                }
            }
        }
    }
}
