* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    width: 100vw;
	font-size: $fontSize;
    font-family: "Tahoma", sans-serif;
    background-color: $colorSecondary;
    overflow-x: hidden;
}
