@mixin burgerIcon() {
    transform: rotate(0);
    transition: transform 0.3s ease;
    position: relative;
    top: 14px;
    width: 100%;
    height: $burgerThickness;

    &::before, 
    .middle,
    &::after {
        content: "";
        display: block;
        border-bottom: $burgerThickness solid $colorPrimary;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:before {
        transform: translateY(-7px);
        transition: transform $burgerTransitionDuration ease $burgerTransitionDuration;
    }

    .middle {
        transform: translateY(0);
        opacity: 1;
        transition: transform $burgerTransitionDuration ease, opacity $burgerTransitionDuration ease 0.3s;
    }

    &:after {
        transform: translateY(7px);
        transition: transform $burgerTransitionDuration ease $burgerTransitionDuration;
    }
}

@mixin burgerOpenModeAnimation() {
    transform: rotate(90deg);
    transition: transform $burgerTransitionDuration ease $burgerTransitionDuration;

    &::before,
    .middle,
    &::after {
        transform: translateZ(0);
        transition: transform $burgerTransitionDuration ease;
    }
}

@mixin burgerCloseIcon() {
    transform: rotate(0) translateZ(0);
    transition: transform $burgerTransitionDuration ease;
    
    &::before {
        transform: rotate(-45deg);
        transition: transform $burgerTransitionDuration ease $burgerTransitionDuration;
    }

    .middle {
        opacity: 0;
    }
    
    &::after {
        transform: rotate(45deg);
        transition: transform $burgerTransitionDuration ease $burgerTransitionDuration;
    }
}

@mixin burgerCloseModeAnimation() {
    transform: rotate(90deg) translateZ(0);
    transition: transform 0.3s ease $burgerTransitionDuration;

    &::before,
    .middle,
    &::after {
        transform: rotate(0);
        transition: transform $burgerTransitionDuration ease;
    }
}