$fontSize: 16px;

$lineHeight: 30px;

$colorPrimary: #000;
$colorSecondary: #fff;
$color--red: #853636;
$color--orange: #e29423;

$dimension--small: 10px;
$dimension--medium: 20px;
$dimension--large: 30px;
$dimension--xlarge: 40px;
$dimension--xxlarge: 50px;

$burgerThickness: 2px;
$burgerTransitionDuration: 0.3s;
$navigationTransition: max-width 0.5s ease-in-out;